* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.components-item-wrap {
  max-width: 500px;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  color: #222;
}

.components-item-wrap.dark {
  background: #222;
  color: #fff;
}
/*========================================
          [Components - btn] 
==========================================*/
.btn-wrap {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  @media (max-width: 400px) {
    width: 100%;
  }
}

.btn {
  position: relative;
  align-content: center;
  min-width: 5.5rem;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background: #fff;
  transition: background 0.3s;
  color: #222;
  font-size: 0.875rem;
  text-align: center;

  @media (max-width: 400px) {
    min-width: auto;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: #fff;
    background: #7a7a7a;
  }
}

.btn-lg {
  min-width: 9rem;
  height: auto;
  padding: 0.875rem 2rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;

  @media (max-width: 400px) {
    width: auto;
    font-size: 1.125rem;
    min-width: 8rem;
  }
}

.btn.gradient {
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #ed6ea0, #9769ec, #7e73d2, #fe96c0);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);

  color: #fff;
  transition: background 0.3s linear;

  &:hover,
  &:focus {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:disabled {
    background-position: 100% 0;
    background-image: linear-gradient(to right, #ed6ea0, #9769ec, #7e73d2, #fe96c0);
    opacity: 0.9;
    filter: grayscale(1);
    color: #d1d1d1;
    box-shadow: none;
  }
}

.btn.outline-gradient {
  transition: background 0.3s linear;
  box-shadow: 0 0px 4px 0 rgba(236, 116, 149, 0.75);

  &:hover,
  &:focus,
  &:active {
    background: #e06697;

    color: #fff;
  }
}
/*========================================
          [Components - input] 
==========================================*/
.flex-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  @media (max-width: 400px) {
    .btn.gradient {
      max-width: 100px;
    }
  }
}

.input-default {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 40px;

  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  font-size: 0.875rem;

  &:hover,
  &:focus {
    border: 1px solid #70bfff;
    box-shadow: 0 0 4px #70bfff;
    outline: none;
  }
}
