.playlists-wrap.main {
  display: none;
  padding: 3rem 2rem;
  background: url(/assets/img/main-background.gif) center center / cover no-repeat;

  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;

    .main-btn-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .btn.gradient {
      border: 1px solid #ffffff83;
    }

    .gender-box.gender {
      .btn {
        min-width: 4rem;
        width: 100%;
      }
    }

    .main-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.375;
      color: #fff;
    }
  }

  .character-line {
    & .character-item {
      @media (max-width: 1400px) {
        width: 15rem;
        height: 15rem;
      }
      @media (max-width: 8200px) {
        width: 13rem;
        height: 13rem;
      }
    }
    .character-item > img.hidden {
      display: none;
    }
  }

  .gender input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  input:checked + .btn.outline-gradient {
    background: #7e73d2;
    box-shadow: 0 4px 12px 0 rgba(55, 3, 114, 0.75);
    color: #fff;
  }

  input:checked + .btn.outline-gradient.male {
    background: #0a508e;
    box-shadow: 0 4px 12px 0 rgba(15, 68, 148, 0.75);

    color: #fff;
  }

  .gender-box {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    #submit-user-gen {
      grid-column: 1/-1;
    }
  }
}
