/*========================================
          [Item - 결과화면] 
==========================================*/

.musiclists-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  left: -0.25rem;
  top: 0;

  width: 100%;
  height: 100%;

  border-radius: 3rem;
  margin: 0 auto;
  padding: 2rem;

  background: #dee2e6;

  @media (max-width: 400px) {
    left: 0;
    padding: 2rem 1rem;

    width: 100%;
    height: 100vh;
    min-height: 810px;
    max-height: 880px;
    border-radius: 0;
  }

  /* 결과타이틀 */
  .result-title {
    text-align: center;
    color: #fff;
    line-height: 1.5;
  }

  /* 플레이리스트 */
  .music-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 2rem;

    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);

    .music-img {
      width: 17rem;
      height: 17rem;
      border-radius: 0.5rem;
      overflow: hidden;
      background-color: white;

      img {
        width: 100%;
        object-fit: cover;
      }

      @media (max-width: 400px) {
        width: 15.625rem;
        height: 15.625rem;
      }
    }
  }

  /* 음악 타이틀 */
  .music-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .music-title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    .music-singer {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #ff9c97;
    box-shadow: 0px 4px 4px 0px rgba(178, 109, 120, 0.25);
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    position: relative;

    width: 100%;
    height: 2px;
    margin: 1rem 0;
    cursor: pointer;

    border-radius: 999px;
    background: #d8d8d8;

    .progress-status {
      position: absolute;
      top: 0;
      left: 0;

      width: 0%;
      height: 100%;

      border-radius: 999px;
      background: #787878;

      .dot {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);

        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #787878;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.5rem;
    height: 4.5rem;

    border-radius: 50%;
    color: #787878;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(178, 109, 120, 0.25);

    .pause {
      display: none;
    }
  }

  #youtubePlayer {
    display: none;
  }
}

/*=====***** 상태별 배경 *****=====*/
/* happy */
.musiclists-wrap.happy {
  background: url(/assets/img/playlists/playlists-happy.png) center center / cover
    no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #bd3830;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    .progress-status {
      background: #ff9c97;

      .dot {
        background-color: #ff9c97;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #ff9c97;
    box-shadow: 0px 4px 4px 0px rgba(178, 109, 120, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: #ff9c97;
    }
  }
}

/* sad */
.musiclists-wrap.sad {
  background: url(/assets/img/playlists/playlists-sad.png) center center / cover no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #0058a1;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    .progress-status {
      background: #70bfff;

      .dot {
        background-color: #70bfff;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #70bfff;
    box-shadow: 0px 4px 4px 0px rgba(109, 147, 178, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: #51b1ff;
    }
  }
}

/* excited */
.musiclists-wrap.excited {
  background: url(/assets/img/playlists/playlists-excited.png) center center / cover
    no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #000f53;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    .progress-status {
      background: #ffa928;

      .dot {
        background-color: #ffa928;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #ffa928;
    box-shadow: 0px 4px 4px 0px rgba(168, 112, 9, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: #e77b00;
    }
  }
}

/* relax */
.musiclists-wrap.relaxed {
  background: url(/assets/img/playlists/playlists-relaxed.png) center center / cover
    no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #023500;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    .progress-status {
      background: #047c00;

      .dot {
        background-color: #047c00;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #047c00;
    box-shadow: 0px 4px 4px 0px rgba(0, 109, 27, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: #035c00;
    }
  }
}

/* fresh */
.musiclists-wrap.refresh {
  background: url(/assets/img/playlists/playlists-refresh.png) center center / cover
    no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #008b51;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    .progress-status {
      background: #70bfff;

      .dot {
        background-color: #70bfff;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #70bfff;
    box-shadow: 0px 4px 4px 0px rgba(109, 147, 178, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: #51b1ff;
    }
  }
}

/* lonely */
.musiclists-wrap.lonely {
  background: url(/assets/img/playlists/playlists-lonely.png) center center / cover
    no-repeat;

  /* 결과타이틀 */
  .result-title {
    text-shadow: 0 0 4px #613400;
  }

  /* 음악 프로그레스바 */
  .music-progressbar {
    background: #b8b8b8;

    .progress-status {
      background: #e07800;

      .dot {
        background-color: #e07800;
      }
    }
  }

  /* 음악 재생버튼 */
  .music-btn {
    color: #e07800;
    box-shadow: 0px 4px 4px 0px rgba(168, 112, 9, 0.25);
  }

  /* 하단 버튼 */
  .btn {
    &:hover,
    &:focus {
      color: #fff;
      background: rgb(165, 88, 0);
    }
  }
}
