@import '/src/css/modern-reset.css';
@import '/src/css/basic.css';
@import '/src/css/components.css';
@import '/src/css/index.css';
@import '/src/css/result.css';
@import '/src/css/main.css';

html {
  touch-action: manipulation;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #222;
  background: #fff;
  align-content: center;
}

/*========================================
          [Item - bgmBtn/resultBtn] 
==========================================*/
.bgmBtn {
  position: absolute;
  top: 2.8rem;
  left: calc(50% - 150px);
  transform: translateX(-50%);

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  z-index: 10;

  @media (max-width: 440px) {
    top: 1.5rem;
    left: 1.5rem;
    transform: translateX(0%);
  }
}

.resultBtn {
  margin-top: 0.5rem;
}
/*========================================
          [Item - 게임화면] 
==========================================*/
.phone-wrap {
  position: relative;
  width: 520px;
  height: 880px;
  margin: 0 auto;
  padding: 1.6rem 4rem 2rem;
  background: url('/public/assets/img/phone.webp') center center / cover no-repeat;

  @media (max-width: 440px) {
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0;
  }
}

.playlists-wrap {
  position: relative;
  left: -0.25rem;
  top: 0;

  width: 100%;
  height: 100%;
  border-radius: 3rem;

  align-content: end;
  margin: 0 auto;
  padding: 5rem 0;
  background: url(/public/assets/img/room.webp) center center / cover no-repeat;
  position: relative;

  @media (max-width: 440px) {
    left: 0;
    padding: 5rem 0;
    padding-bottom: 12rem;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    border-radius: 0;
  }
}

.select-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
}

.bgm-notice {
  position: absolute;
  top: 1.35rem;
  left: 50%;
  z-index: 10;
  transform: translateX(-39%);

  padding: 0.5rem 1rem;
  width: 15rem;
  font-size: 0.875rem;
  word-break: keep-all;
  background: #f0f0f0;
  border-radius: 0.625rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  @media (max-width: 440px) {
    left: 0;
    transform: translateX(43%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 16px solid #f0f0f0;
  }
}

/*=====***** 상황에 따른 배경이미지 *****=====*/

/* 등굣길 */
.playlists-wrap[data-prolog='scene1'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -6290px -10px;
}

/* 교실창가 */
.playlists-wrap[data-prolog='classWindowScene'] {
  background: url(/public/assets/img/classScene.gif) center center / cover no-repeat;
}

/* 수업시간쪽지 */
.playlists-wrap[data-prolog='classNoteScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -4200px -88px;
}

/* 복도 창가 */
.playlists-wrap[data-prolog='hallwayWindowScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -1040px -88px;
}

/* 매점 */
.playlists-wrap[data-prolog='stallScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -5803px -80px;
}

/* 급식실 */
.playlists-wrap[data-prolog='cafeteriaScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -503px -80px;
}

/* 동아리 */
.playlists-wrap[data-prolog='clubScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -3700px -80px;
}

/* 비 */
.playlists-wrap[data-prolog='rainScene'] {
  background: url(/public/assets/img/rainScene.gif) center center / cover no-repeat;
}

/* 비 그침 */
.playlists-wrap[data-prolog='rainStopScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -8370px -80px;
}

/* 오락실 */
.playlists-wrap[data-prolog='arcadeScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -2583px -80px;
}

/* 영화관 */
.playlists-wrap[data-prolog='movieScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -2583px -80px;
}

/* 서점 */
.playlists-wrap[data-prolog='bookstoreScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -2583px -80px;
}

/* 카페 */
.playlists-wrap[data-prolog='cafeScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -2063px -80px;
}

/* 버스 */
.playlists-wrap[data-prolog='busScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -4710px -80px;
}

/* 공원 */
.playlists-wrap[data-prolog='parkScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -9423px -80px;
}

/* 러브엔딩 */
.playlists-wrap[data-prolog='loveScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -1590px -85px;
}

/* 러브엔딩 */
.playlists-wrap[data-prolog='breakScene'] {
  width: 100%;
  height: 100%;
  background: url(/public/assets/img/bg-sprites.webp) -3103px -80px;
}

/* 결과보기창 */
.playlists-wrap[data-prolog='resultScene'] {
  background: url(/public/assets/img/classScene.gif) center center / cover no-repeat;
}

.container {
  padding: 0 1rem;
}

/*=====***** 캐릭터이미지 *****=====*/
.character-img-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

  img {
    height: 100%;
    transition: all 0.3s;
  }

  @media (max-width: 500px) {
    height: 300px;
  }
}

/*=====***** 기본대화 *****=====*/
.conversation-wrap {
  position: relative;
  align-content: center;

  width: 100%;
  min-height: 13rem;
  padding: 1rem 1.5rem;

  word-break: keep-all;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1px);
  box-shadow: 0 0 2px 2px #cecfd1;

  @media (max-width: 440px) {
    padding: 2rem 1.25rem;
  }

  /* 메인화면 선택지가이드 텍스트 */
  .guide-text {
    margin-bottom: 1rem;
  }

  /* 이름 */
  .name-tag {
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;

    border-radius: 1.5rem;
    color: #fff;
    background: #1e2a70;
  }

  /* 이전/다음 */
  .btn-group {
    position: absolute;
    bottom: -3.2rem;
    left: 0;
    width: 100%;
    opacity: 0.8;

    .prev-btn {
      float: left;
    }
    .next-btn {
      float: right;
    }
  }

  /* 대화 */
  .conversation-box {
    width: 100%;
    word-break: keep-all;

    .line {
      line-height: 1.5;
    }
  }

  /* 게임 선택지 */
  .select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    li {
      width: 100%;
    }

    button {
      -webkit-appearance: none;
      outline: none;
      width: 100%;
      height: 3rem;
      padding: 0 0.5rem;
      background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
      border-radius: 2rem;
      border: 1px solid #8f9092;
      box-shadow: inset 0 0 3px 0 #cecfd1;
      transition: all 0.2s ease;
      font-size: 0.875rem;
      font-weight: 500;
      color: #606060;
      word-break: keep-all;

      &:hover,
      &:focus {
        box-shadow: inset 0 0 3px 3px #cecfd1;
      }
    }
  }
}

.conversation-wrap ul {
  padding-bottom: 1px;
  padding-top: 1px;
}

.conversation-wrap.user-select {
  display: none;
}

/* alert */
.swal2-html-container {
  line-height: 1.375;
}
