@import '/src/css/modern-reset.css';
@import '/src/css/basic.css';
@import '/src/css/components.css';
@import '/src/css/index.css';
@import '/src/css/result.css';
@import '/src/css/main.css';

body {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #222;
  background: #fff;
}

/*========================================
          [Item - bgmBtn/resultBtn] 
==========================================*/
.bgmBtn {
  position: fixed;
  top: 1rem;
  left: calc(50% - 200px);
  transform: translateX(-50%);

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  z-index: 10;

  @media (max-width: 500px) {
    left: 1rem;
    transform: translateX(0);
  }
}

.resultBtn {
  box-shadow: 0 4px 15px 0 rgb(190 190 190);

  &:hover,
  &:focus,
  &:active {
    background: #e06678;

    color: #fff;
  }
}
/*========================================
          [Item - 게임화면] 
==========================================*/
.playlists-wrap {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  min-height: 810px;

  /* align-content: center; */
  align-content: end;
  margin: 0 auto;
  padding: 5rem 0;
  background: url(/src/assets/img/room.png) center center / cover no-repeat;
  position: relative;

  @media (max-width: 400px) {
    padding: 2rem 0;
    min-height: 710px;
  }
}

.select-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
}

/*=====***** 상황에 따른 배경이미지 *****=====*/
/* 등굣길 */
.playlists-wrap[data-prolog='scene1'] {
  background: url(/src/assets/img/scene1.png) center center / cover no-repeat;
}

/* 교실창가 */
.playlists-wrap[data-prolog='classWindowScene'] {
  background: url(/src/assets/img/classWindowScene.png) center center / cover no-repeat;
}

/* 수업시간쪽지 */
.playlists-wrap[data-prolog='classNoteScene'] {
  background: url(/src/assets/img/classNoteScene.png) center center / cover no-repeat;
}

/* 복도 창가 */
.playlists-wrap[data-prolog='hallwayWindowScene'] {
  background: url(/src/assets/img/hallwayWindowScene.png) center center / cover no-repeat;
}

/* 매점 */
.playlists-wrap[data-prolog='stallScene'] {
  background: url(/src/assets/img/stallScene.png) center center / cover no-repeat;
}

/* 급식실 */
.playlists-wrap[data-prolog='cafeteriaScene'] {
  background: url(/src/assets/img/cafeteriaScene.png) center center / cover no-repeat;
}

/* 동아리 */
.playlists-wrap[data-prolog='clubScene'] {
  background: url(/src/assets/img/clubScene.png) center center / cover no-repeat;
}

/* 비 */
.playlists-wrap[data-prolog='rainScene'] {
  background: url(/src/assets/img/rainScene.png) center center / cover no-repeat;
}

/* 비 그침 */
.playlists-wrap[data-prolog='rainStopScene'] {
  background: url(/src/assets/img/rainStopScene.png) center center / cover no-repeat;
}

/* 오락실 */
.playlists-wrap[data-prolog='arcadeScene'] {
  background: url(/src/assets/img/nextday.png) center center / cover no-repeat;
}

/* 영화관 */
.playlists-wrap[data-prolog='movieScene'] {
  background: url(/src/assets/img/nextday.png) center center / cover no-repeat;
}

/* 서점 */
.playlists-wrap[data-prolog='bookstoreScene'] {
  background: url(/src/assets/img/nextday.png) center center / cover no-repeat;
}
/* 서점 */
.playlists-wrap[data-prolog='bookstoreScene2'] {
  background: url(/src/assets/img/bookstoreScene.png) center center / cover no-repeat;
}

/* 카페 */
.playlists-wrap[data-prolog='cafeScene'] {
  background: url(/src/assets/img/clouds.png) center center / cover no-repeat;
}

/* 버스 */
.playlists-wrap[data-prolog='busScene'] {
  background: url(/src/assets/img/busScene.png) center center / cover no-repeat;
}

/* 공원 */
.playlists-wrap[data-prolog='parkScene'] {
  background: url(/src/assets/img/parkScene.png) center center / cover no-repeat;
}

/* 러브엔딩 */
.playlists-wrap[data-prolog='loveScene'] {
  background: url(/src/assets/img/loveScene.png) center center / cover no-repeat;
}

/* 러브엔딩 */
.playlists-wrap[data-prolog='sadScene'] {
  background: url(/src/assets/img/sadScene.png) center center / cover no-repeat;
}

/* 결과보기창 */
.playlists-wrap[data-prolog='resultScene'] {
  background: url(/src/assets/img/sadScene.png) center center / cover no-repeat;
}

.container {
  padding: 0 2rem;

  @media (max-width: 400px) {
    padding: 0 1rem;
  }
}

/*=====***** 캐릭터이미지 *****=====*/
.character-img-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;

  img {
    height: 100%;
  }

  @media (max-width: 500px) {
    height: auto;
  }
}

/*=====***** 기본대화 *****=====*/
.conversation-wrap {
  position: relative;
  align-content: center;

  width: 100%;
  min-height: 12.5rem;
  padding: 1.5rem 2rem;

  word-break: keep-all;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);

  @media (max-width: 400px) {
    padding: 2rem 1.25rem;
  }

  /* 메인화면 선택지가이드 텍스트 */
  .guide-text {
    margin-bottom: 1rem;
  }

  /* 이름 */
  .name-tag {
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;

    border-radius: 1.5rem;
    color: #fff;
    background: #1e2a70;
  }

  /* 이전/다음 */
  .btn-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  /* 대화 */
  .conversation-box {
    width: 100%;
    word-break: keep-all;

    .line {
      line-height: 1.5;
    }
  }

  /* 게임 선택지 */
  .select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    li {
      width: 100%;
    }

    button {
      display: grid;
      grid-template-columns: auto 1fr;
      width: 100%;
      padding: 0.5rem 1rem;

      border: none;
      background: none;

      text-align: start;
      font: inherit;
      color: inherit;
      cursor: pointer;

      &:before {
        content: '→';
        margin-right: 0.5rem;
      }

      p {
        display: flex;
        flex-direction: column;
      }

      &:focus {
        outline: 2px solid #888;
        outline-offset: 2px;
      }

      &:hover {
        text-decoration: 1px underline black;
      }
    }
  }
}

.conversation-wrap.user-select {
  display: none;
}
